.box_contacts {
  width: 100%;
  height: 400px;
  overflow: auto;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.totalContact {
  padding-top: 20px;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
}
.slidingButton {
  width: 150px;
  height: 50px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}
.slidingButton:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slidingButton:hover {
  background: rgba(255, 255, 255, 0);
}
.slidingButton:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
